<%- include("header") -%> 
<body>

    <div class="box" id="heading">
        <h2><%= listTitle %></h2>
    </div>

    <div class="box">
        <ul>
            <% for( let index = 0; index < newListItems.length; index++ ) { %>
                <form action="/delete"method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value=<%=newListItems[index]._id%> onChange="this.form.submit()">
                    <p><%= newListItems[index].name %></p>
                </div>
                <input type="hidden" name="listName" value=<%= listTitle %> ></input>
                </form>
               
            <% } %>
           
        </ul>
        <form class="item" action="/" method="post">
            <input type="text" name="addItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>
</body>

<%- include("footer") -%> 

